@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

#header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-weight: 900;
}

.logo h1 span {
    color: darkorchid;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    padding: 10px 15px;
    font-weight: 300;
    cursor: pointer;
    color: #3d2541;
    border-radius: 8px;
}

.menu ul li.especialista {
    color: #2f00ff;
}

.menu ul li.login {
    background-color: #00aeff;
    color: #FFF;
}

#hero {
    background: rgb(0,232,255);
    background: linear-gradient(90deg, rgba(0,232,255,0.10127801120448177) 0%, rgba(0,255,239,0.1) 82%);
}

#hero .container {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

#hero .container .row {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

#hero .container .row.img {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#hero h2 {
    font-size: 40px;
}

#button-primary {
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #00aeff;
    color: #FFF;
    border: none;
}

#razoes {
    padding-bottom: 40px;
}

.cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -100px;
}

.card {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 7px 7px 20px 0px rgba(97,97,97,1);
    width: 330px;
    text-align: center;
}

.card img {
    width: 80px;
}

.razoes {
    display: flex;
}

.razoes .row.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.razoes .row h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.razoes .row p {
    text-align: justify;
    font-size: 22px;
}

.razoes .row p span.azul {
    font-weight: 700;
    color: #2f4ccc;
}
.razoes .row p span.azul-claro {
    font-weight: 700;
    color: #2f9fcc;
}
.razoes .row p span.verde {
    font-weight: 700;
    color: #2fccaa;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.services .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.services .cards {
    position: static;
    width: 95vw;
}

#profissionals {
    width: 95vw;
    background-color: rgba(0, 204, 255, 0.1);
    display: flex;
    margin: 0 auto;
    padding: 0 100px;
}

#profissionals .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#profissionals .row.img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#profissionals .row.img img {
    width: 550px;
}

#profissionals .row h2 {
    font-size: 30px;
}

#profissionals .row p {
    font-size: 20px;
}

footer#footer {
    margin-top: 30px;
    background-color: #091d40;
    color: #FFF;
}

footer#footer .container {
    padding-bottom: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px 0;
}

.brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top .logo h1 {
    color: #FFF;
}

.top .menu-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top .menu-footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #FFF;
}